In [35]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

In [36]:
boston = load_boston()
Boston = pd.DataFrame(data = boston.data, columns=boston.feature_names)
#Boston.columns= Boston.columns.str.strip().str.lower()
#myData = Boston[list(Boston.columns.values)]
#myData.columns.values[12] = 'Y'
#iLog = ['crim', 'indus', 'nox', 'rm', 'dis', 'rad', 'tax', 'Y']
#for i in iLog:
    #myData[i] = np.log(myData[i])
#myData['zn'] = myData['zn']/10
#myData['age'] = np.power(myData['age'], 2.5) / 10000
#myData['ptratio'] = np.exp(0.4 * myData['ptratio'])/1000
#myData['black'] = myData['black']/100
#myData['lstat'] = np.sqrt(myData['lstat'])

In [37]:
Boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [39]:
X, y = load_boston(return_X_y=True)
iLog = [0,2,4,5,7,8,9]
for i in iLog:
    X[:,i] = np.log(X[:,i])
y = np.log(y)
X[:,1] = X[:,1]/10
X[:, 6] = np.power(X[:, 6],2.5) / 10000
X[:, 10] = np.exp(0.4 * X[:, 10]) / 1000
X[:, 11] = X[:, 11] / 100
X[:, 12] = np.sqrt(X[:, 12])
lam_seq = [0.30, 0.2, 0.1, 0.05, 0.02, 0.005]

In [44]:
def MyLasso(X, y, lam_seq, maxit = 50):
    
    n = len(y)
    p = X.shape[1]
    nlam = len(lam_seq)